/* Nav Bar */

.nav-bar {
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-bar > img {
  width: 82px;
  display: block;
}

/* Main */

.main {
  padding: 20px;
}

/* Hero Section */

.hero_image-container {
  padding: 26px 10px;
  text-align: center;
}

.hero_image-container > img {
  width: 100%;
  max-width: 450px;
}

.hero_content-container {
  max-width: 330px;
}

/* Card */

.card-container {
  display: flex;
  flex: 0 0 auto;
  gap: 1rem;
  overflow: scroll;
  padding-top: 20px;
}

.card {
  width: 176px;
  flex: 0 0 auto; 
}

.card_image-container {
  position: relative;
}

.card_label {
  position: absolute;
  background-color: #FFFFFF;
  text-transform: uppercase;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 10px;
  top: 6px;
  left: 6px;
}

.card_image-container > img {
  border-radius: 10px;
  width: 100%;
}

.card_content-container {
  font-size: 12px;
}

.card_reviews > img {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.card_location {
  margin-left: 10px;
  position: relative;
}

.card_location::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #918E9B;
  left: -6px;
  top: 7px;
}

/* Media */

@media screen and (min-width: 600px) {
  .main {
    padding: 40px;
  }
  
  .hero_image-container {
    padding-bottom: 30px;
  }

  .card-container {
    padding-top: 40px;
  }
}

@media screen and (min-width: 800px) {
  .nav-bar > img {
    width: 112px;
  }

  .main {
    padding: 50px;
  }

  .hero_image-container {
    padding-bottom: 60px;
  }
  
  .hero_image-container > img {
    max-width: 750px;
  }

  .hero_content-container {
    max-width: 500px;
  }

  .hero_content-container > h1 {
    font-size: 48px;
  }

  .hero_content-container > p {
    font-size: 20px;
  }

  .card-container {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 100px;
  }

  .hero_image-container {
    padding-bottom: 100px;
  }

  .hero_image-container > img {
    max-width: 850px;
  }

  .hero_content-container {
    max-width: 700px;
  }

  .hero_content-container > h1 {
    font-size: 64px;
  }

  .hero_content-container > p {
    font-size: 26px;
  }

  .card-container {
    padding-top: 100px;
  }
}